@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Calculator";
}
<h1>@ViewData["Title"]</h1>

<form action="CalculatorResult" method="post">
	First number: <input type="number" name="x" value="" />
	Operand: <input type="text" name="operand" value="" />
	Second number: <input type="number" name="y" value="" />
	<input type="submit" value="Calculate" />
</form>
