@{
    ViewData["Title"] = "Home Page";
}

<div>
	<ul class="noBulletList">
		<lh class="display-4">Choose a web app to sample</></lh>
		<li><p>Click <a runat="server" href="Home/MileageCalculator">here</a> for the mileage calculator.</p></li>
		<li><p>Click <a runat="server" href="Home/Calculator">here</a> for the calculator.</p></li>
		<li><p>Click <a runat="server" href="Home/Division">here</a> to do division with a remainder.</p></li>
		<li><p>Click <a runat="server" href="Home/RomanNumeral">here</a> to covert a number to a Roman Numeral.</p></li>
	</ul>
</div>
