@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Roman Numeral Conversion";
}
@model RomanNumeral
<h1>@ViewData["Title"]</h1>
<form action="RomanNumeralResult" method="post">
    Number to convert: <input type="number" name="Number" value=@Model.Number />
    <input type="submit" value="Convert" />
</form>

<h3>@Model.Number in Roman Numeral form is: @Model.RomanNumeralResult</h3> 